{{dump(content)}}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Advertisment Information
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Advertisment Listing
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover zebra" style="text-align: center">
                        <thead>
                            <tr>
                                <th></th>
                                <th colspan="2">Image</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key,value in content %}
                                <tr>
                                    <td>  <a href="{{path ('ads_manager_change',  {'id': key}) }}"><button class="btn btn-danger btn-sm"><i class="fa fa-pencil"></i> Edit</button></a></td>
                                    <td style="text-align: center;">
                                        {% include '@YallaWebsiteBackendBundle/views/AdsManager/_type.html.twig' with {
                                        type: (value.data|first).type, 
                                            item: (value.data|first) } %}
                                    </td>
                                    <td>
                                        {{ (value.data|first).target }}

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>        
</div>