{# empty Twig template #}
{% extends "@YallaWebsiteFrontendBundle/views/front_base.html.twig" %}
{% block body %}
    <div class="pageContent">
        <div class="IndexTitle">
            <h1>Captured Moments</h1>
        </div>

        {% for gallery in pagination  %}
            <div class="galleryDiv">
                <div class="galleryContent" style="background-image: url('{% path  gallery.preview, 'medium' %}')">
                    
                    
                </div>
            </div>
        {% endfor %}


        <div class="page_pagination">

            {% if (pagination) %}
                {{ knp_pagination_render(pagination, 'YallaWebsiteFrontendBundle:Template:pagination.html.twig') }}
            {% endif %}
        </div>
    </div>

{% endblock %}
