/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2016, 8:39:50 PM
    Author     : Michel Khater
*/

@import "bootstrap/bootstrap.less";

@Color1: #eaeaea;
@Color2: #4d4d4d;

.topAdv {
    .make-lg-column(5);
    .make-md-column(5);
    .make-sm-column(5);
    .make-xs-column(5);
    min-height: 50px;
    border: 2px dashed black;
    margin-right: 3%;
    margin-left: 3%;
}
.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}
.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    @media screen and (max-width:1080px) { letter-spacing: 2px; }
    @media screen and (max-width:985px) { letter-spacing: 0px; }
    @media screen and (min-width:768px) {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.1em;
    }
}

#menuImageLogo {
    /*    position: absolute;
        left: 50%;
        top: 64%;*/
    z-index: 2;
    img {
        height: 150px;
        width: 150px;
        margin-top: -30px;
    }
}


@media screen and (min-width:768px) {
    .navbar {
        border-radius: 0;
        min-height: 0;
    }

    .navbar-header {
        display: none;
    }
}
#menuImageLogo {
    @media screen and (max-width:780px) {
        display:none;
    }
}

body {
    background-color: @Color1;
    header {
        #preHeader{
            height:15px;
            background-color: @Color1;
        }

        nav {
            .navbar;
            .navbar-default;
            background-color: @Color2;
            border-bottom: 1px solid yellow;
            #bs-navbar-collapse-1 {
                max-height: 88px;
                ul {
                    li{
                        a{
                            color:white;
                            padding: 35px;
                            line-height: normal;
                            @media screen and (max-width:1500px) { padding: 30px; }
                            @media screen and (max-width:1435px) { padding: 19px; }
                            @media screen and (max-width:1260px) { padding: 9px; }
                            @media screen and (max-width:1080px) { padding: 11px; }
                            @media screen and (max-width:1035px) { padding: 6px; }
                            @media screen and (max-width:985px) { padding: 12px; }
                            @media screen and (max-width:860px) { padding: 10px; }
                            @media screen and (max-width:845px) { padding: 8px; }
                            @media screen and (max-width:800px) { padding: 6px; }
                            @media screen and (max-width:768px) { padding: 5px; }
                        }
                        &:hover {
                            background-color: @Color1;
                            a {
                                color:black;
                            }
                        }
                    } 
                }
            }
        }

        #topAdvRow{
            .row();
            margin-top: 15px;
            min-height: 50px;
            #leftAdv,#rightAdv {
                .topAdv;
                img {
                    height: 90px;
                    width: 590px;
                }
            }
            #leftAdv {
                float: left;
            }
            #rightAdv {
                float: right;
            }
        }

        #socialSearchRow{
            .row();
            min-height: 50px;
            #socialLinks,#searchBar {
                .make-lg-column(6);
                .make-md-column(6);
                .make-sm-column(6);
                .make-xs-column(6);
                min-height: 20px;
                margin-top: 1%;
            }
            #socialLinks {
                float: left;
                background-color: red;
            }
            #searchBar {
                float: right;
                background-color: #ff00ff;
            }
        }
    }
    .wrapper {
        .container;
        .clearfix;
        #bodyLeftAdv,#bodyRightAdv{
            position: absolute;
            min-width: 100px;
            min-height: 400px;
            background-color: black;
            top: 30%;
            .clearfix;
            .hidden-xs;
            .hidden-sm;
            img {
                width: 120px;
                height: 600px;
            }
        }
        #bodyLeftAdv{ left:0; }
        #bodyRightAdv{ right: 0 }

        #content {
            .row();
            margin-bottom: 4%;
            #missionContent,#visionContent {
                .make-lg-column(6);
                .make-md-column(6);
                .make-sm-column(6);
                .make-xs-column(6);
                min-height: 200px;
                background-color: red;
            }
            #visionContent  { 
                background-color: #ff00ff;
                border-left: 2px solid black;
            }
            #membersContent { 
                .make-lg-column(12);
                .make-md-column(12);
                .make-sm-column(12);
                .make-xs-column(12);
                margin-top: 2%;
                min-height: 200px;
                background-color: turquoise;
            }
        }
    }

    footer{
        #footerAdv {
            .make-lg-column(12);
            .make-md-column(12);
            .make-sm-column(12);
            .make-xs-column(12);
            height: 50px;
            background-color: red;
        }
        #footerContent {
            .make-lg-column(12);
            .make-md-column(12);
            .make-sm-column(12);
            .make-xs-column(12);
            height: 110px;
            background-color: @Color2;
            margin-top: 10px;
            border-top: 2px solid yellow;
            #footer_pl_icon {
                height: 100px;
                width: 150px;
            }
        }
    }
}