/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2016, 8:39:50 PM
    Author     : Michel Khater
*/

@import "bootstrap/bootstrap.less";
@import "adv.less";

@font-face {
    font-family: 'CenturyGothicBold';
    src: url('../fonts/CenturyGothic-Bold.eot');
    src: url('../fonts/CenturyGothic-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ebrima';
    src: url('../fonts/Ebrima.eot');
    src: url('../fonts/Ebrima.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ebrima.woff') format('woff'),
        url('../fonts/Ebrima.woff') format('woff2'),
        url('../fonts/Ebrima.ttf') format('truetype'),
        url('../fonts/Ebrima.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@Color1: #eaeaea;   //BG COLOR LIGHT GRAY
@Color2: #4d4d4d;   //BG COLOR DARK GRAY
@Color3: #ffde16;   //BG COLOR YELLOW
@Color4: #CBCBCB;   // Inactive Calednar extra days
@Pagination-Gray: #565656;
@tempColor: #ff00ff;
.hyperlink() {
    a {
        font-weight: bold;
        &:link
            {
            color: @Color3;
        }
        &:hover
            {
            color: @Color3 + 100;
        }
        &:visited,&:active {
            color: @Color3 - 100 ;
        }
    } 
}

#yellow_color {
    font-weight: bold;
    color: @Color3;
}

.mediaIntoBG {
    background-size: cover;
    background-repeat: no-repeat;
}

.socialMediaIcons { 
    height: 30px;
    width: 30px;
    border-radius: 3px;
    margin-right: 1%;
}


.RowIn4Col {
    .make-lg-column(4);
    .make-md-column(4);
    .make-sm-column(4);
    .make-xs-column(4);
    margin-bottom: 2%;
    text-align: center;
}
.innerPagesTitle {
    .make-lg-column(12);
    .make-md-column(12);
    .make-sm-column(12);
    .make-xs-column(12);
    text-align: center;
    margin-bottom: 15px;
    color: @Color2;
    h1 {
        font-weight: bold;
        display: inline-block;
        border-bottom: 3px solid @Color3;
    }
}
.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}
.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    @media screen and (min-width:768px) {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.1em;
    }
}
@media screen and (min-width:768px) {
    .navbar {
        border-radius: 0;
        min-height: 0;
    }

    .navbar-header {
        display: none;
    }
}
.page_pagination {
    .make-lg-column(12);
    .make-md-column(12);
    .make-sm-column(12);
    .make-xs-column(12);
    text-align: center;
    margin-bottom: 15px;
}
.pagination_image {
    color: @Color1;
    background-color: @Color1;
    border-color: @Color1;
    margin-top: -5px;
    &:hover {
        z-index: 2;
        color: @Color1;
        background-color: @Color1;
        border-color: @Color1;
    }
}
.pagination_round_border {
    span {
        height: 34px;
        z-index: 2;
        color: @Pagination-Gray;
        background-color: @Pagination-Gray;
        border-color: @Pagination-Gray;
        border-color: @Pagination-Gray;
        border: 1px solid @Pagination-Gray;
        &:hover {
            height: 34px;
            z-index: 2;
            color: @Pagination-Gray;
            background-color: @Pagination-Gray;
            border-color: @Pagination-Gray;
            border-color: @Pagination-Gray;
            border: 1px solid @Pagination-Gray;
        }
    } 
}
#menuImageLogo {
    z-index: 2;
    img {
        height: 150px;
        width: 150px;
        margin-top: -30px;
    }
}

#menuImageLogo {
    @media screen and (max-width:780px) {
        display:none;
    }
}



@import "homepage.less";
@import "calendar.less";



body {
    background-color: @Color1;
    overflow-x: hidden;
    header {
        background-color: @Color1;
        font-family: 'CenturyGothicBold';
        #preHeader{
            height:15px;
            background-color: @Color1;
        }

        nav {
            .navbar;
            .navbar-default;
            background-color: @Color2;
            border-bottom: 2px solid @Color3;
            #bs-navbar-collapse-1 {
                max-height: 88px;
                ul {
                    li{
                        height: 88px;
                        min-height: 88px;
                        a{
                            color:white;
                            padding: 35px;
                            line-height: normal;
                            letter-spacing: 7px;
                            @media screen and (max-width:1500px) { padding: 25px; }
                            @media screen and (max-width:1435px) { padding: 19px; padding-top: 30px;}
                            @media screen and (max-width:1315px) { padding: 15px; padding-top: 30px;}
                            @media screen and (max-width:1260px) { padding: 9px; padding-top: 30px;}
                            @media screen and (max-width:1155px) { padding: 7px; padding-top: 30px;}
                            @media screen and (max-width:1122px) { padding: 7px; letter-spacing: 5px; padding-top: 30px;}
                            @media screen and (max-width:1080px) { padding: 11px; letter-spacing: 4px; padding-top: 35px;}
                            @media screen and (max-width:1035px) { padding: 6px; letter-spacing: 5px; padding-top: 35px;}
                            @media screen and (max-width:1004px) { padding: 6px; letter-spacing: 3px; padding-top: 35px;}
                            @media screen and (max-width:985px) { padding: 12px; letter-spacing: 2px; padding-top: 35px;}
                            @media screen and (max-width:948px) { padding: 6px; letter-spacing: 2px; padding-top: 35px;}
                            @media screen and (max-width:860px) { padding: 10px; letter-spacing: 0.5px;padding-top: 30px;}
                            @media screen and (max-width:845px) { padding: 8px; letter-spacing: 1px;padding-top: 35px;}
                            @media screen and (max-width:832px) { padding: 5px; letter-spacing: 1px;padding-top: 35px;}
                            @media screen and (max-width:800px) { padding: 3px; letter-spacing: 1px;}
                            @media screen and (max-width:768px) { padding: 5px; letter-spacing: none;}
                        }
                        &:hover {
                            background-color: @Color1;
                            a {
                                color:black;
                            }
                        }
                    } 
                }
            }
        }

        #topAdvRow{
            .row();
            margin-top: 15px;
            min-height: 50px;
            #leftAdv,#rightAdv{
                .topAdv;
                img {
                    height: 90px;
                    width: 590px;
                }
            }
            #leftAdv {
                float: left;
                img {
                    float: left;
                }
            }
            #rightAdv {
                float: right;
                img {
                    float: right;
                }
            }
        }

        #socialSearchRow{
            .row();
            min-height: 50px;
            #socialLinks,#searchBar {
                .make-lg-column(2);
                .make-md-column(4);
                .make-sm-column(5);
                .make-xs-column(5);
                min-height: 20px;
                margin-top: 1%;
                margin-left: 3%;
            }
            #socialLinks {
                float: left;
                #socialLinksTitle {
                    h5 {
                        .make-xs-column(5);
                        text-align: center;
                    }
                }
                #socialLinksIcons {
                    .make-xs-column(12);
                    img {
                        .socialMediaIcons;
                    }
                }
            }
            #searchBar {
                float: right;
                background-color: @tempColor;
            }
        }
    }
    .pageContent{
        font-family: 'Ebrima';
        .row();
        //VenuesPage
        .wrapper {
            min-width: 80%;
            max-width: 80%;
            width: 80%;
            margin: 0 auto;
            .clearfix;
            min-height: 100px;
            #missionContent,#visionContent {
                .make-lg-column(6);
                .make-md-column(6);
                .make-sm-column(6);
                .make-xs-column(6);
                min-height: 200px;
            }
            #visionContent  { 
                #left_border{
                    position: absolute; 
                    border-left: 2px solid black; 
                    left:0; 
                    bottom:0; 
                    height: 60%;
                }
            }
            #membersContent { 
                .make-lg-column(12);
                .make-md-column(12);
                .make-sm-column(12);
                .make-xs-column(12);
                margin-top: 2%;
                min-height: 200px;
                .member_div{
                    margin: 0 auto; 
                    text-align: center;
                    width: 150px; 
                    height:150px; 
                    max-height: 150px;
                    .mediaIntoBG;
                    &:hover {
                        cursor: pointer;
                    }
                }
                
            }
            //All Inner Pages Defaults
            .IndexTitle {
                .innerPagesTitle;
            }
            .venueDiv {
                .make-lg-column(6);
                .make-md-column(6);
                .make-sm-column(6);
                .make-xs-column(6);
                margin-bottom: 2%;
                text-align: center;
                .venueContent{
                    .mediaIntoBG;
                    border-radius: 5px;
                    min-height: 250px;
                    .venueDivTitle {
                        font-weight: bold;
                        border-top-right-radius: 5px;
                        border-top-left-radius: 5px;
                        width: 100%;
                        height: 40px;
                        background-color: rgba(26,26,26, 0.5);
                        font-size: 30px;
                        color: white;
                    }
                }
                .modal-dialog {
                    .modal-content {
                        color: white;
                        background-color: @Color2;
                        .modal_description, .modal_footer {
                            text-align:left;
                            padding: 2%;
                        }   
                        .modal_footer{
                            .hyperlink();
                        }
                    }
                }
            }

            //Index Gallery Page
            .galleryDiv {
                .RowIn4Col;
                .galleryContent{
                    .mediaIntoBG;
                    border-radius: 5px;
                    min-height: 250px;
                    position: relative;
                    .galleryDivTitle {
                        font-weight: bold;
                        width: 100%;
                        height: 50px;
                        background-color: rgba(26,26,26, 0.5);
                        font-size: 30px;
                        color: white;
                        position: absolute;
                        bottom:0;
                        .galleryDivTitleContent {
                            h3, h5{
                                margin: 0;
                                padding:0;
                            }
                        }
                    }
                }
                .theGalleryContent{
                    text-align: left;
                    .hyperlink();
                }
            }
            //ENDOF Index Gallery Page

            //Index Article Page
            .articleDiv {
                .RowIn4Col;
                .articleContent{
                    .mediaIntoBG;
                    border-radius: 5px;
                    min-height: 250px;
                    .articleDivTitle {
                        display:none;
                        font-weight: bold;
                        border-top-right-radius: 5px;
                        border-top-left-radius: 5px;
                        width: 100%;
                        height: 40px;
                        background-color: rgba(26,26,26, 0.5);
                        font-size: 30px;
                        color: white;
                    }
                    &:hover {
                        .articleDivTitle {
                            display: block;
                        }
                    }

                }
                .theArticleContent{
                    text-align: left;
                    .hyperlink();
                }
            }
            //ENDOF Index Article Page

            //Inner Events and Article
            .theEntityDiv {
                .row();
                margin-bottom: 2%;
                text-align: center;
                .innerTitle {
                    .innerPagesTitle;
                }
                #innerEntityImage {
                    .make-lg-column(12);
                    .make-md-column(12);
                    .make-sm-column(12);
                    .make-xs-column(12);
                    margin-bottom: 2%;
                    img {margin: 0 auto;}
                }
                #innerEntityContent {
                    .make-lg-column(12);
                    .make-md-column(12);
                    .make-sm-column(12);
                    .make-xs-column(12);
                    text-align: left;
                }
                #galleryViewPhotogtapher{
                    .make-lg-column(12);
                    .make-md-column(12);
                    .make-sm-column(12);
                    .make-xs-column(12);
                    text-align:right;
                    border-bottom: 3px solid @Color3;
                    .hyperlink();
                }
                #innerGalleryImages {
                    .make-lg-column(12);
                    .make-md-column(12);
                    .make-sm-column(12);
                    .make-xs-column(12);
                    #innerGalleryImage{
                        .make-lg-column(3);
                        .make-md-column(4);
                        .make-sm-column(5);
                        .make-xs-column(6);
                        height: 250px;
                        min-height: 250px;
                        .mediaIntoBG;
                    }
                }
                #innerEventInformation{
                    text-align: left;
                    .hyperlink();
                }
            }
            // ENDOF Inner Events and Article

            //Events Page
            #theCalendarRow{
                .row();
                margin-top: 15px;
                #calendar-holder{
                    .make-lg-column-offset(3);
                    .make-lg-column(6);
                    .make-md-column-offset(3);
                    .make-md-column(6);
                    .make-sm-column-offset(3);
                    .make-sm-column(6);
                    .make-xs-column-offset(3);
                    .make-xs-column(6);    
                }
            }
            #DisplayedAjaxRow{
                .row();
                margin: 0 auto;
                .eventAjaxDiv {
                    margin: 2%;
                    //.RowIn4Col;
                    .mediaIntoBG;
                    .eventTitleHoverDisplay {
                        text-align: center;
                        display: none;
                        color: @Color1;
                        margin-top: 30%;
                        font-size: 30px;

                    }
                    &:hover {
                        .eventTitleHoverDisplay { display: block; }
                    }
                }
            }
            // ENDOF Events Page

        }
    }
}





footer{
    #bottomAdvRow{
        .row();
        margin-top: 15px;
        min-height: 50px;
        #leftBottomAdv,#rightBottomAdv {
            .bottomAdv;
            img {
                height: 90px;
                width: 590px;
            }
        }
        #leftBottomAdv {
            float: left;
            img {
                float: left;
            }
        }
        #rightBottomAdv {
            float: right;
            img {
                float: right;
            }
        }
    }

    #footerContent {
        .make-lg-column(12);
        .make-md-column(12);
        .make-sm-column(12);
        .make-xs-column(12);
        height: 110px;
        background-color: @Color2;
        margin-top: 10px;
        border-top: 2px solid @Color3;
        #footer_pl_icon {
            height: 100px;
            width: 150px;
        }
    }
}
