{% extends "@YallaWebsiteFrontendBundle/views/front_base.html.twig" %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
    <style>
        .my-custom-class {
            background-color: black;
        }
    </style>
{% endblock %}
{% block body %}

    <div class="pageContent">
        <div class="wrapper">
            <div class="IndexTitle">
                <h1>Events</h1>
            </div>
            <div class="theCalendarRow">
                <div id="calendar-holder"></div>
            </div>
            <div id="ajaxDiv" class="row" ></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>{% endblock %}
{% block js_calednar %}
    <script>
        $(function () {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            $('#calendar-holder').fullCalendar({
                header: {
                    left: 'prev',
                    center: 'title',
                    right: 'next'
                },
                lazyFetching: true,
                timeFormat: {
                    // for agendaWeek and agendaDay
                    agenda: 'h:mmt', // 5:00 - 6:30

                    // for all other views
                    '': 'h:mmt'         // 7p
                },
                eventSources: [
                    {
                        url: Routing.generate('fullcalendar_loader'),
                        type: 'POST',
                        // A way to add custom filters to your event listeners
                        data: {
                            //filter: 'my_custom_filter_param'
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log(xhr.responseText);
                        },
                    }

                ],
                dayClick: function (date, jsEvent, view) {
                    console.log(date);
                    getEvents(date);
                    //alert('Clicked on: ' + date.getFullYear()+'-'+date.getMonth()+'-'+date.getDate());      
                },
            });
        });

        function getEvents(thedate) {
            $.ajax({
                type: "POST",
                url: Routing.generate('frontend_ajax_get_event_by_date', {id: thedate}),
                success: function (data) {
                    $('#ajaxDiv').html(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr.responseText);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });

        }
    </script>
{% endblock %}
