{% extends "@YallaWebsiteFrontendBundle/views/front_base.html.twig" %}
{% block body %}
    <div class="row">
        <div id="calendar-holder" class="col-lg-offset-3 col-lg-6"></div>
    </div>



    <div class="row">
        <div id="DisplayedAjax"></div>
    </div>



{% endblock %}

{% block js_calednar %}
    <script>
        $(function () {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            $('#calendar-holder').fullCalendar({
                header: {
                    left: 'prev',
                    center: 'title',
                    right: 'next'
                },
                lazyFetching: true,
                timeFormat: {
                    // for agendaWeek and agendaDay
                    agenda: 'h:mmt', // 5:00 - 6:30

                    // for all other views
                    '': 'h:mmt'         // 7p
                },
                eventSources: [
                    {
                        url: Routing.generate('fullcalendar_loader'),
                        type: 'POST',
                        // A way to add custom filters to your event listeners
                        data: {
                            //filter: 'my_custom_filter_param'
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log(xhr.responseText);
                        },
                    }

                ],
                dayClick: function (date, jsEvent, view) {
                    console.log(date);
                    getEvents(date);
                    //alert('Clicked on: ' + date.getFullYear()+'-'+date.getMonth()+'-'+date.getDate());      
                },
            });
        });

        function getEvents(thedate) {
            $.ajax({
                type: "GET",
                dataType: 'json',
                url: Routing.generate('frontend_ajax_get_event_by_date', {id: thedate}),
                async: false,
                success: function (response) {

                            $('#DisplayedAjax').html(response);
                        }});
            return false;
        }{#  .done(function (response) {
                        console.log(response);
                        template = response;
                        $('#DisplayedAjax').html(template.html); //Change the html of the div with the id = "your_div"                        
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        alert('Error : ' + errorThrown);
                    });#}


        {#
        $.ajax({
            type: "POST",
            url: Routing.generate('frontend_ajax_get_event_by_date', { id: thedate }),
            success: function(data){
                 template = data;
                $('#DisplayedAjax').html(template.html);
                //OB = JSON.parse(data);
                //displayEvents(OB);
                //displayEvents(data);
            },
            error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseText);
                        console.log(textStatus);
                        console.log(errorThrown);
            }
        });#}
            //               }
    </script>
{% endblock %}