{# empty Twig template #}
{% extends "@YallaWebsiteFrontendBundle/views/front_base.html.twig" %}
{% block body %}
    <div class="pageContent">
        {%  if (entity) %}
        {#    <div class="theArticleDiv">
                <div class="innerTitle">
                    <h1>{{entity.title}}</h1>
                </div>
                <div id="innerArticleImage">
                    {% thumbnail entity.media, 'large' with {'class': 'img-responsive'} %}
                </div>

                <div id="innerArticleContent">
                    {{ entity.content| raw }}
                </div>
            </div>#}
        
        {{dump(entity)}}
        {% endif %}

    </div>

{% endblock %}