{% extends "@YallaWebsiteFrontendBundle/views/front_base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/yallawebsitefrontend/css/slick.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/yallawebsitefrontend/css/slick-theme.css') }}" />
    <style>
        .custom {
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="pageContent">
        
        <div class="IndexTitle">
            <h1>EXCEPTIONAL LEVEL OF ENTERTAINMENT</h1>
        </div>
        <div class="row" id='homepage_part1'>
            <div class="hp_slider col-lg-9" style="height:250px;background-color: green;">
            {% for slider in home.SliderEntities %}
                <div> {% thumbnail slider.media, 'homePage' %}</div>
                {% endfor %}
            </div>
            <div class="col-lg-3" style="padding:0">
                <div class="col-lg-12" style="height:125px;background-color: blue;">    
                    <div id="ytplayer"></div>
                </div>
                <div class="col-lg-12" style="height:125px;background-color: blueviolet;"></div>
            </div>
        </div>
        <style>
            .subtitle {
                margin: 0 0 2em 0;
            }
            .fancy {
                line-height: 0.5;
                text-align: center;
            }
            .fancy span {
                display: inline-block;
                position: relative;  
                font-size: 36px;
                font-weight: bold;
            }
            .fancy span:before,
            .fancy span:after {
                content: "";
                position: absolute;
                height: 5px  ;
                //border-bottom: 1px solid white;
                border-bottom: 3px solid #ffde16;
                top: 0;
                width: 600px;
            }
            .fancy span:before {
                right: 100%;
                margin-right: 15px;
            }
            .fancy span:after {
                left: 100%;
                margin-left: 15px;
            }
        </style>
        <div class="row">
            <p class="subtitle fancy"><span>WHAT'S ON</span></p>
        </div>
        <div class="row" id='homepage_part2'>
            <div class="col-lg-3">
                <div class="col-lg-12" style="height: 125px; background-color: #000099">{#{% thumbnail home.sideArticles[0].media, 'small' %}#}</div>
                <div class="col-lg-12" style="height: 125px; background-color: #0044aa">{#{% thumbnail home.sideArticles[1].media, 'small' %}#}</div>
            </div>
            <div class="col-lg-6" style="height: 250px; background-color: #000">{% thumbnail home.mainArticle.media, 'small' %}</div>
            <div class="col-lg-3">
                <div class="col-lg-12" style="height: 125px; background-color: #0072b1">{#{% thumbnail home.sideArticles[2].media, 'small' %}#}</div>
                <div class="col-lg-12" style="height: 125px; background-color: #ebebeb">{#{% thumbnail home.sideArticles[0].media, 'small' %}#}</div>
            </div>

        </div>
        <div class="row">
            <p class="subtitle fancy"><span>Hottest Events of the wek</span></p>
        </div>
        <div class="row">
            <div class="col-lg-15" style="height: 200px; background-color:#000 "></div>
            <div class="col-lg-15" style="height: 200px; background-color:#000099 "></div>
            <div class="col-lg-15" style="height: 200px; background-color:#0044aa "></div>
            <div class="col-lg-15" style="height: 200px; background-color:#0072b1 "></div>
            <div class="col-lg-15" style="height: 200px; background-color:#aa6708; margin-right: 0px; "></div>
        </div>
        <div class="row">
            <div class="col-lg-15"></div>
            <div class="col-lg-15" style="height: 200px; background-color:#000099 "></div>
            <div class="col-lg-15" style="height: 200px; background-color:#0044aa "></div>
            <div class="col-lg-15" style="height: 200px; background-color:#0072b1 "></div>
            <div class="col-lg-15"></div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{asset('bundles/yallawebsitefrontend/js/slick.min.js')}}"></script>    
<script>
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      height: '200',
      width: '200',
      videoId: '{{home.videoLink}}'
    });
  }
  
  $(document).ready(function(){
  $('.hp_slider').slick({
    //setting-name: setting-value
  });
});
</script>
{% endblock %}