{% extends "@FrontendBundle/front_base.html.twig" %}
{% block body %}
    <div id="m0">
        <div id="m1"></div>
        <div id="m2"></div>
        <div id="m3"></div>
        <div id="m4"></div>
        <div id="m5"></div>
        <div id="m6"></div>
        <div id="m7"></div>
        <div id="m8"></div>
        <div id="m9"></div>
        <div id="m10"></div>
        <div id="m11"></div>
        <div id="m12"></div>
    </div>
{% endblock %}

