{% extends "backend_base.html.twig" %}
{% block title %}Homepage Section{% endblock %}
{% block body %}
    <div class="row">
        {{dump(homepage)}}
        {% set  arr = [events, articles, venues, galleries]%}
        <div class="col-md-12">
            <h4 class="page-head-line">Homepage</h4>
        </div>
        <div id='ajaxDiv' class="col-lg-12"></div>
    </div>
    <div id='HomePagePartOne'>
        <h1>Homepage Top Part</h1>
        <div class="row">
            {% include '@YallaWebsiteBackendBundle/views/Homepage/html/homepage_backend_slider.html.twig' %}
        </div>

        <div class="row">
            {% include '@YallaWebsiteBackendBundle/views/Homepage/html/homepage_backend_video.html.twig' %}
        </div>

        <div class="row">
            {% include '@YallaWebsiteBackendBundle/views/Homepage/html/homepage_backend_selected_gallery.html.twig' %}
        </div>

    </div>
    <hr>
    <div id='HomePagePartTwo'>
        <h1>Homepage Article Section</h1>
        <div class="row">
            {% include '@YallaWebsiteBackendBundle/views/Homepage/html/homepage_backend_selected_article.html.twig' %}
        </div>
    </div>
            <hr>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% include '@YallaWebsiteBackendBundle/views/Homepage/js/homepage_slider_js.html.twig' %}
    <script>
        function updateSlider(v, p, t) {
            $.ajax({
                type: "POST",
                url: Routing.generate('backend_ajax_set_slider', {id: v, pos: p, type: t}),
                success: function (data) {
                    $('#ajaxDiv').css('display', 'block');
                    $('#ajaxDiv').html(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr.responseText);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }
        ;
    </script>
    {% include '@YallaWebsiteBackendBundle/views/Homepage/js/homepage_video_js.html.twig' %}
    {% include '@YallaWebsiteBackendBundle/views/Homepage/js/homepage_gallery_js.html.twig' %}
    {% include '@YallaWebsiteBackendBundle/views/Homepage/js/homepage_one_article_js.html.twig' %}
{%endblock%}