{% extends "backend_base.html.twig" %}
{% block title %}Articles Section{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h4 class="page-head-line">Articles</h4>
        </div>
    </div>
    <div>
        <a href="{{ path ('backend_article_new')}}"><button class="btn btn-primary create_new"><i class="fa fa-edit "></i> Create Article</button></a>
    {% block extraOptions %}{% endblock %}
</div>
{% block controlleraction %}{% endblock %}
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#article_tags").tagit({
                allowSpaces: true
            });
        });
    </script>
{% endblock %}

{% block tinymce %} 
    {{ tinymce_init() }}
{#        <script>
        tinymce.init({
            paste_data_images: true
        });
    </script>
#}
{% endblock %}
