{# empty Twig template #}
{% extends "@YallaWebsiteFrontendBundle/views/front_base.html.twig" %}
{% block body %}
    <div id='missionContent'>
        {{about}}
    </div>
    <div id='visionContent'>
        {{vision}}
    </div>
<div id='membersContent'></div>
{% endblock %}