{# empty Twig template #}
{% extends "@YallaWebsiteFrontendBundle/views/front_base.html.twig" %}
{% block body %}
<div id='missionContent'></div>
<div id='visionContent'></div>
<div id='membersContent'></div>
{% endblock %}