{# empty Twig template #}
{% extends "@YallaWebsiteFrontendBundle/views/front_base.html.twig" %}
{% block body %}

    <div class="pageContent">
        <div class="wrapper">
            <div id='missionContent'>
                {{about}}
            </div>
            <div id='visionContent'>
                {{vision}}
            </div>
            <div id='membersContent'></div>
        </div>
    </div>
{% endblock %}