{% extends "@YallaWebsiteFrontendBundle/views/front_base.html.twig" %}
{% block body %}
    <div class="pageContent">
        <div class="IndexTitle">
            <h1>All Around Us</h1>
        </div>
        {% for article in pagination  %}
            <div class="articleDiv">
                <div class="articleContent" style="background-image: url('{% path  article.media, 'displayIndex' %}')">
                    <div class="articleDivTitle">
                        {{ article.title }}
                    </div>
                </div>
                <div class="theArticleContent">
                    <p>{{ article.content[0:100]|raw }}...<br>
                        <span><a href="{{path('yalla_website_frontened_article',  {'id': article.slug}) }}">more..</a></span></p>
                </div>

            </div>
        {% endfor %}

        <div class="page_pagination">

            {% if (pagination) %}
                {{ knp_pagination_render(pagination, 'YallaWebsiteFrontendBundle:Template:pagination.html.twig') }}
            {% endif %}
        </div>
    </div>

{% endblock %}