{% extends "@YallaWebsiteFrontendBundle/views/front_base.html.twig" %}
{% block body %}
    <div class="pageContent">
        {%  if (entity) %}
            <div class="theEntityDiv">
                <div class="innerTitle">
                    <h1>{{entity.title}}</h1>
                </div>
                <div id="innerEntityImage">
                    {% thumbnail entity.media, 'large' with {'class': 'img-responsive'} %}
                </div>

                <div id="innerEntityContent">
                    {{ entity.content| raw }}
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}